*

!.gitignore
!.zshrc
!./.vim/*
!Package Control.sublime-settings
!Preferences.sublime-settings
!Shortcuts.json
!/.vs_code_settings/
!/.vs_code_settings/*
!/.iterm2settings/
!/.iterm2settings/*
!/.karabiner/
!/.karabiner/*
